
img {
    width: 100px;
    height: 100px;
}

.bg {
    background-color: #DBDFFD;
}

/*apply css properties to quantity button tag*/

.counterUP,
.counterDown {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: #242F9B;
    color: white;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    border-color: #242F9B;
}

/*apply hover effect to quantity button tag*/

.counterUP:hover {
    background-color: green;

}

.counterDown:hover {
    background-color: red;
}

.tableColors {
    background-color: #242F9B;
    color: #ffffff;

}

.blank_row {
    height: 10px !important;
    background-color: #FFFFFF;
}